
/*Style.scss*/
@import 'bootstrap';
@import '../leadpages-template-scss/foundation/foundation';




/* variables
---------------------------------------------------------- */


/*--- Colors ----*/
$bodyBg:#fffffd;
$headerColoring:#fffffe;
$navBtnBg:#267bcd;
$advImgWrapBg:#fffff2;
$bgImgBg:#2265aa;
$advWrap:#F8F8F8;
$aboutLine:#ddd;
$servicesBg:#f8f8f7;
$galleryBlock:#2265Af;
$footerBg:#f4f4f4;



$btnTransparentHoverBg:#f9f9f8;
$btnTransparentHoverBg2:#f9f9f7;
$btnBlueBg:#267bcf;
$btnBlueBg2:#267bce;


$bodyTextColor:#545454;
$titleColor:#535353;
$subTitleColor:#a2a2a2;
$navColor:#545451;
$navHoverColor:#2265a1;


$navFont: Oswald, sans-serif;
$bodyFont:'merriweather', sans-serif;
$heroFont:'open sans', sans-serif;


/* sitewide
---------------------------------------------------------- */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

.rowLg{
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
  .row{
    max-width: $row-width;
    margin: auto;
  }
}

.clearfix:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.section:before,
.wrap:before {
	content: " ";
	display: table;
}

.clearfix:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.section:before,
.wrap:after {
	clear: both;
	content: " ";
	display: table;	
}

img {
	max-width: 100%;
}

body {
	background: $bodyBg;
	color: $bodyTextColor;
	font-size: 18px;
	font-family: $bodyFont;
	text-align: center;
	margin:auto;
}
.cb{
	clear:both;
}
p {
text-align: left;
}

.mainTitle{
	text-align: center;
	color:$titleColor;
	font-size: 35px;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 15px;
}
.subTitle{
	text-align: center;
	color: $subTitleColor;
	font-size: 25px;
}

.titlesWrap{
	text-align: center;
	margin-top: 70px;
}


/*---- Buttons --- */
.btnTransparent {
  font-family: 'Oswald',sans-serif;
  font-size: 23px;
  font-weight: 300;
  line-height: 1;
  padding: 12px 40px;
  transition: all .4s;
  transition: all .4s;
  white-space: normal;
  border: 2px solid $btnTransparentHoverBg;
  border-radius: 2px;
  background: transparent;
  transition: background .75s ease;
  &:hover{
  background-color: $btnTransparentHoverBg;
  color: #2265ab;
  text-decoration: none;
  }
}
.btnTransparent2 {
  font-family: 'Oswald',sans-serif;
  font-size: 23px;
  font-weight: 300;
  line-height: 1;
  padding: 12px 40px;
  transition: all .4s;
  transition: all .4s;
  white-space: normal;
  border: 2px solid $btnTransparentHoverBg2;
  border-radius: 2px;
  background: transparent;
  transition: background .75s ease;
  &:hover{
  background-color: $btnTransparentHoverBg2;
  color: #2265ab;
  text-decoration: none;
  }
}

.btnBlue{
	 font-family: 'Oswald',sans-serif;
  font-size: 23px;
  font-weight: 300;
  line-height: 1;
  padding: 12px 40px;
  transition: all .4s;
  transition: all .4s;
  white-space: normal;
  border: 2px solid;
  border-radius: 2px;
  background: $btnBlueBg;
  color: #ffffff;
  transition: background .75s ease;

  &:hover{
  background-color: transparent;
  border:2px solid $btnBlueBg;
  color:$btnBlueBg;
  text-decoration: none;
	}
}
.btnBlue2{
	 font-family: 'Oswald',sans-serif;
  font-size: 23px;
  font-weight: 300;
  line-height: 1;
  padding: 12px 40px;
  transition: all .4s;
  transition: all .4s;
  white-space: normal;
  border: 2px solid;
  border-radius: 2px;
  background: $btnBlueBg2;
  color: #ffffff;
  transition: background .75s ease;

  &:hover{
  background-color: transparent;
  border:2px solid $btnBlueBg2;
  color:$btnBlueBg;
  text-decoration: none;
	}
}



/* Header
---------------------------------------------------------------------------------------------------- */


#theNav{
	text-align: center;
	


	 li a{
		color: $navColor;
		font-size: 16px;
		font-family: $navFont;
		font-weight: 300;
		text-align: center;
		padding-left: 5px;
		padding-right: 5px;
		
		&:hover{
			color:$navHoverColor;
			text-decoration: none;
		}

	}

}





.navbar-header{
	display: flex;
	justify-content:center;
}


.navbar-toggle{
	margin-right: 0px;
	&:hover, &:focus{
		background: $navBtnBg;
	}
}



.navWrap{

}

.headerSpace{
 // margin-top: 1rem;
 
}
.header{
	background: $headerColoring;
	padding-top: 20px;
	padding-bottom: 20px;
	position: fixed;
	z-index: 500;
	top: 0;
	right: 0;
	left: 0;
}

.top-bar {
	//background: $headerColoring;
}

.top-bar-section ul li {
  //background: $headerColoring;

  }

  .top-bar .title-area {
  float: left;
  margin-left: 100px;
}

.beforeMsb{
  vertical-align: text-bottom;
  line-height: 30px;
  color:#fffff1;
}
.headerTextLg{
  font-family: 'Open Sans', sans-serif;
  font-size: calc(25px);
  letter-spacing: -1.5px;
  font-weight: 600;
  color: #fffff2;
    a{
      color: #fffff3;
      &:hover{
        text-decoration: none;
      }
    }
}

	.img-position{
	position: absolute;
	z-index: -1;
	left: 0;
	height: inherit;
	}

.headerAlign{
  vertical-align: middle;
}
	.wrap {
	padding: 5px 0;
	
	}

	.logo {
max-width: 95%;
  max-height: 55px;
	
	}
	.left{
		float: left;
	}

	.right {
	float: right;
	}


	.right .image {
		vertical-align: text-top;
		margin-right: 10px;
	}



img.bg {
  /* Set rules to fill background */
  //min-height: 100%;

	
  /* Set up proportionate scaling */
  width: 100%;
  height: inherit;
	
  /* Set up positioning */
  position: absolute;
  top:-1;
  left: 0;

  z-index: -1;
}


/*
 *Scrolling
 */




/* Content
---------------------------------------------------------------------------------------------------- */


/*---- Hero --*/
.hero{
  position: relative;
  overflow: hidden;
  padding: 110px 0 110px 0;
}

.bgImgPlacement{
 /*position: relative;
 top: 0;
 float: left;
 width: 100%;
 overflow: hidden;
 height: 600px;
  */

}


.bgImg{
  width: 100%;
  position: absolute;
  left: 0;
  top:0;
  z-index: -2;
  height: 100%;
  background-color: $bgImgBg
}


.width100{
width: 100%;
}

#hero {
  h1{
  color: #ffffff;
  font-family: $heroFont;
  font-size: calc(20px	);
  
  line-height: 1.7;
  margin: 0;
  padding: 10px 0;
	}
 
}

.heroText{
	margin-top: 50px;
}



/*-------Advantages-------*/
.advantagesWrap{
	background-color: $advWrap;
}
.advantages{
	padding-bottom: 70px;
}
.advantagesGrid{
	margin-top: -50px;
}
.advImgWrap{
  background-color: $advImgWrapBg;
  border-radius: 50%;
  width: 116px;
  height: 116px;
  line-height: 116px;
  margin: auto auto 50px auto;
}

.advImg{
	display: inline-block;
  max-width: 70%;
  height: auto;
  max-height: 70%;
  vertical-align: middle;
}
.listStyle1{
	list-style-position: inside;
	list-style: disc;

	li{
		list-style: disc;
		list-style-position: inside;
	}
}

.listStyle2{
	li{
		list-style: disc;
		
		text-align: left;
	}
}


/*-------About-------*/
.aboutTitle{
	font-size: 65px;
  font-weight: 700;

}

.line{
	display: flex;
 	flex-direction: row;
 	justify-content: center;
 	text-align: center;


	&:before, &:after{
	background-color: $aboutLine;
	 content: '\a0';
	 flex-grow: 1;
	 height: 3px;
	 position: relative;
	 top: 0.7em;
	}
	&:before{
		padding-right: 20px;
	}
	&:after{
		padding-left:20px;
	}
}

.aboutBlockGrid{
	margin-top: 50px;
}
.about2{
	padding-top: 30px;
	padding-bottom: 50px;
}

/*-------Clients-----------*/
.clientsInner{
	margin-bottom: 50px;
}
.clientLogos{
	text-align: center;
	margin-top: 50px;
}
.clientLogo{
display: inline-block;
margin:0 15px 30px;
max-width: 190px;
}


/*---Quote----*/

.quoteBgPosition{
 position: relative;
 width: 100%;
 overflow: hidden;
 padding-top: 50px;
 padding-bottom: 50px;
 top:0;

 	

}
.quoteBgImg{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
	
  z-index: -2;
  height:100%;
  background-color: $bgImgBg
}

.quoteText{
	
	h3{
		color: #ffffff;
	}
	
}

.quoteImgWrap{
	img{
		border-radius: 50%;
		height: 120px;
		width: 120px;
	}
}

.quoteAttrWrap{
	margin-top: 10px;

}

.quoteName{
	font-size: 22px;
	color:#ffffff;
	margin-bottom: 0px;
	text-align: center;
}
.quoteBiz{
	font-size: 22px;
	color:#ffffff;
	text-align: center;
}

/*-------------Services------------*/
.servicesWrap{
	background-color: $servicesBg;
}

.servicesBlockGrid{
	
}
.servicesTitle{
	font-size: 23px;
  font-weight: 700;
}
.servicesImgWrap{
	line-height: 200px;
  overflow: hidden;
  height: 200px;
  text-align: center;
}


/*----- CaseStudies --------*/




.galleryBlock{
	background: $galleryBlock;
	overflow: hidden;
	position: relative;
	color:#fffffb;
	margin:0;
	width:50%;
	float: left;
	padding-bottom:50%;
	display: block;



	


	.galleryHover{
	position: absolute;
	  top: 45%;
	  left:0;
	  padding: 0 20px;
	  text-align: center;
	  z-index: 7;
	  width: 100%;
	  opacity: 0;
	  transition: opacity .25s ease-in-out;
	  
	}

	&:hover{

		.caseBlockImg{
			opacity:.2;
		}
		.galleryHover{
			opacity: 1;
		}

	}

	
}

.caseBlockImg{
	  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  display: block;
  margin:auto;
		
	}




/*----- Team --------*/

.teamWrap{
	padding-top: 70px;
	padding-bottom: 70px;
}

.teamGrid {
  @include block-grid(
    // This controls how many elements will be on each row of the block grid. Set this to whatever number you need, up to the max allowed in the variable.
    // Available options: 1-12 by default, and false.
    $per-row: 1,

    // This controls how much space is between each item in the block grid.
    // Use a variable or any pixel or em values.
    $spacing: $block-grid-default-spacing,

    // This controls whether or not base styles come through, set to false to leave out.
    $base-style: true
  );
}
	
.teamBlockAttr{

	margin-top: 10px;


	p:first-child{
		margin-bottom: 0;
	}

	p {
		text-align: center;
	}
}
.teamName{
	font-size: 22px;
}
.teamPosition{
	font-size: 17px;
}

.teamSocial{

	text-align: center;
	
	a {
		display: inline-block;
  		margin: 0 4px;
		
			}
}

/*---leadmagnet----*/

.leadmagnetBgPosition{
 position: relative;
 width: 100%;
 overflow: hidden;
 padding-top: 50px;
 padding-bottom: 50px;

 	

}
.leadmagnetBgImg{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
	
  z-index: -2;
  height: 100%;
  background-color: $bgImgBg
}

.leadMagnetInner{
	margin-top: 50px;
}

.leadMagnetTitle{
	color: #ffffff;
	font-size: 30px;
	text-align: center;
	margin-bottom: 0;
}
.leadMagnetSubtitle{
	color: #ffffff;
	text-align: center;
}

.leadMagnetBtnWrap{
	margin-top: 50px;
}

.leadmagnetImgWrap{
	
}



.leadmagnetName{
	font-size: 22px;
	color:#ffffff;
	text-align: right;
}
.leadmagnetBiz{
	font-size: 22px;
	color:#ffffff;
	text-align: center;
}


/*---------Contact--------*/
.contact{
	padding-top: 50px;
	padding-bottom: 50px;
}
.contactTitle{
	font-size: 23px;
	font-weight: 700;
}
.conactBtnWrap{
	margin-top: 20px;
	text-align: center;
}

.mapImg{
	width: 400px;
	height: 350px;
	margin:auto;
}

/*---------Footer--------*/

.footerWrap{
	background-color: $footerBg;
}
.footerSocial{
	margin-top: 20px;
	margin-bottom: 20px;
}

/*Style.scss*/

@import 'mediumscreen';
@import 'largescreen';
@import 'XLargecreen';